
\.idea/

game-master/\.gradle/

game-master/out/

communication-server/\.gradle/

communication-server/out/

player/\.gradle/

player/out/

communication-server/gradle/

game-master/gradle/

player/gradle/
